.footer {
  background-color: #343a40;
  color: #fff;
  padding: 50px 0;
}

.footer h3 {
  color: #fff;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer hr {
  border-top: 1px solid #fff;
}

.footer p {
  margin-bottom: 0;
}
